<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Directory" value="c:\maps"/>
		<add key="DisplayTimers" value="True"/>
		<add key="InputFilename" value="c:\maps\rmoc.osm"/>
		<add key="OutputType" value="geojson"/>
		<add key="StressLevelPrefix" value="level_"/>
		<add key="Verbose" value="True"/>
		<add key="IncludeBannedHighways" value="False"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
