<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Directory" value="c:\maps" />
		<add key="DisplayTimers" value="True" />
		<add key="InputFilename" value="c:\maps\ottawa_canada.osm"/>
		<add key="OutputType" value="geojson" />
		<add key="StressLevelPrefix" value="level_" />
		<add key="Verbose" value="True" />
	</appSettings>
</configuration>